/************************
    GENERALS
************************/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/************************
    //GENERALS
************************/

/*************************
    PERSONAL STYLE CLASSES
**************************/
.nc-bg-dark {
    background-color: #000;
}

.nc-button-border-radius {
    border-radius: 1rem;
}

.nc-white-text
/*************************
    //PERSONAL STYLE CLASSES
**************************/

/***** HEADER *****/

.nc-d-inline-block {
    display: inline-block;
}

.nc-link-border {
    border: none;
}

.nc-link-border:hover {
    border: none;
}

.nc-search {
    font-size: 1.2rem;

}

/***** //HEADER *****/

/***** Jumbotron *****/
#jumbotron {
    background-image: url('../img/jumbo-bg.png');
    background-size: cover;
    background-position: top;
}

.nc-m-12 {
    margin-top: 12rem;
}

.nc-orange-btn {
    background-color: #cd3d0f;
    border: none;
}

.nc-orange-btn:hover {
    background-color: #a6330c;
}

/***** //Jumbotron *****/

/*** Returnal/Ratchet-clank Cards ***/

/*** //Returnal/Ratchet-clank Cards ***/